[submodule "FractalSoundWeb"]
	path = FractalSoundWeb
	url=https://github.com/radulov/FractalSoundWeb.git
[submodule "LatticeGasWeb"]
	path = LatticeGasWeb
	url = https://github.com/radulov/LatticeGasWeb.git
