<!DOCTYPE html>
<html lang="en">
<head>
    <title>Just donut</title>
    <link rel="stylesheet" href="../stylesheets/donutStyle.css"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <style>
    body {
        font-family: Monospace;
        background-color: #000;
        color: #fff;
        margin: 0px;
        overflow: hidden;
    }
</style>
</head>

<body>
    <div id="container">
      <div id="viewer-div" class="viewer">
      </div>
    </div>
    <div>
        <script type="module">

        import { Viewer } from '../../javascripts/gltfViewer.js';
        let viewerDiv = document.querySelector('#viewer-div');
        let viewer = new Viewer(viewerDiv, {
          cameraPosition: {x: 0.3, y: 0.2, z: 0.3},
          addEnvironment: true,
          bgColor1: '#FFFFFF',
          bgColor2: '#FF5DF7',
          grainScale: 0.001
        });

        viewer.load('ddonut/models/ddonut.glb');
    </script>
</div>
</body>
</html>
