<!DOCTYPE html>
<html lang="en">
<head>
    <title>Just donut</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <style>
    body {
        font-family: Monospace;
        background-color: #000;
        color: #fff;
        margin: 0px;
        overflow: hidden;
    }
</style>
</head>

<body>
    <!-- <script type="module" src="../../javascripts/gltfLoader.js"></script> -->
    <div>
        <script type="module">

        import { Viewer } from '../../javascripts/gltfViewer.js';
        let container = document.createElement( 'div' );
        let viewerDiv = document.createElement( 'div' );
        viewerDiv.classList.add('viewer');
        container.appendChild(viewerDiv);

        document.body.appendChild( container );

        let viewer = new Viewer(viewerDiv, {});
        viewer.load('models/ddonut.glb');
    </script>
</div>
</body>
</html>
