<html>
  <head>
    <title>NSGolova</title>
    <link rel="stylesheet" href="./stylesheets/style.css"/>
    <meta property="og:image" content="https://www.golova.dev/images/apple-touch-icon-114x114.png">
    <meta property="og:title" content="Viktor Radulov personal website.">
    <meta property="og:type" content="website">

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="images/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="images/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="images/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="images/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="NSGolova"/>
    <meta name="msapplication-TileColor" content="#7DAA8B" />
    <meta name="msapplication-TileImage" content="images/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="images/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="images/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="images/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="images/mstile-310x310.png" />

    <meta name="twitter:title" content="golova.dev">
    <meta name="twitter:description" content="Viktor Radulov personal website.">
    <meta name="twitter:site" content="@nsgolova">
    <meta name="twitter:image" content="https://www.golova.dev/images/preview.png">
    <meta name="twitter:image:alt" content="NSGolova">
    <meta name="twitter:card" content="summary">
  </head>
  <body>
    <div>
        <script type="module">

        import { Viewer } from '../../javascripts/gltfViewer.js';
        let viewerDiv = document.querySelector('#viewer-div');
        let viewer = new Viewer(viewerDiv, {
          cameraPosition: {x: 1.1, y: -0.3, z: 0.15},
          objectPosition: {x: 0.0, y: 0.5, z: 0.0}
        });
        viewer.load('models/head.glb');
    </script>
</div>
    <div class="title">
      <h1>Viktor Radulov
      <br>aka NSGolova</br></h1>
      <h2>Begginer in everything
      <br>except Objc-C and failing.</br></h2>
    </div>
    <div id="head">
      <div id="viewer-div" class="viewer">
      </div>
    </div>
    <div class="gallery">
      <figure class="gallery__item gallery__item--1">
        <a href="experiments/fractalSounds">
          <img src="experiments/images/preview.png" class="gallery__img" alt="Image 1">
          <div class="bottom-left">How does Mandelbround sound</div>
        </a>
      </figure>
      <figure class="gallery__item gallery__item--2">
        <a href="https://github.com/radulov/clippr/releases">
        <img src="images/clippr.png" class="gallery__img" alt="Image 2">
        <div class="bottom-left">Clipboard manager for mac</div>
      </a>
      </figure>
      <figure class="gallery__item gallery__item--3">
        <a href="https://corgiorgy.com/">
        <img src="images/corgi.jpg" class="gallery__img" alt="Image 45">
        <div class="bottom-left">Not mine but so woof</div>
        </a>
      </figure>
      <figure class="gallery__item gallery__item--4">
        <a href="automata/gasomaton">
        <img src="automata/gasomaton/images/preview.gif" class="gallery__img" alt="Image 4">
        <div class="bottom-left">Gasomaton</div>
        </a>
      </figure>
      <figure class="gallery__item gallery__item--5">
        <a href="experiments/ddonut">
        <img src="images/donut.png" class="gallery__img" alt="Image 3">
        <div class="bottom-left">Tutorial donut</div>
        </a>
      </figure>
    </div>

    <div class="links-container">
      <!-- <img src="images/logo.jpg" width="200" height="200" class="circle"> -->

      <div>
        <h1 id="left-dev">developer</h1>
        <a id="center-dev" href="https://github.com/radulov">
          <img src="images/github.png" width="32" height="32">
        </a>
      </div>
      <div>
        <h1 id="left-a">author</h1>
        <a id="center-a" href="https://nsgolova.medium.com">
          <img src="images/medium.png" width="32" height="36">
        </a>
      </div>
      <div>
        <h1 id="left-gamer">gamer</h1>
        <a id="center-gamer" href="http://steamcommunity.com/id/nsgolova/">
          <img src="images/steam.png" width="32" height="32">
        </a>
      </div>
      <div>
        <h1 id="left-gamer">friend</h1><a id="center-gamer" href="https://t.me/nsgolova">
          <img src="images/telegram.png" width="32" height="32">
        </a>
      </div>
    </div>

  </body>
</html>
