<html>
  <head>
    <title>NSGolova</title>
    <link rel="stylesheet" href="./stylesheets/style.css"/>
    <meta property="og:image" content="https://www.golova.dev/images/preview.png">
    <meta property="og:title" content="Viktor Radulov personal website.">
    <meta property="og:type" content="website">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon-180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16.png">

    <meta name="twitter:title" content="golova.dev">
    <meta name="twitter:description" content="Viktor Radulov personal website.">
    <meta name="twitter:site" content="@nsgolova">
    <meta name="twitter:image" content="https://www.golova.dev/images/preview.png">
    <meta name="twitter:image:alt" content="NSGolova space">
    <meta name="twitter:card" content="summary">
  </head>
  <body>
    <div>
        <script type="module">

        import { Viewer } from '../../javascripts/gltfViewer.js';
        let viewerDiv = document.querySelector('#viewer-div');
        let viewer = new Viewer(viewerDiv, {});
        viewer.load('models/head.glb');
    </script>
</div>
    <div class="title">
      <h1>NSGolova</h1>
      <h2>Begginer in everything
      <br>except objc-c and failing.</br></h2>
    </div>
    <div id="head">
      <div id="viewer-div" class="viewer">
      </div>
    </div>
    <div class="gallery">
      <figure class="gallery__item gallery__item--1">
        <a href="experiments/fractalSounds">
          <img src="experiments/images/preview.png" class="gallery__img" alt="Image 1">
          <div class="bottom-left">Interactive fractal experience</div>
        </a>
      </figure>
      <figure class="gallery__item gallery__item--2">
        <a href="https://github.com/radulov/clippr/releases">
        <img src="images/clippr.png" class="gallery__img" alt="Image 2">
        <div class="bottom-left">Clipboard manager for mac</div>
      </a>
      </figure>
      <figure class="gallery__item gallery__item--3">
        <a href="experiments/ddonut">
        <img src="images/donut.png" class="gallery__img" alt="Image 3">
        <div class="bottom-left">Tutorial donut</div>
        </a>
      </figure>
      <figure class="gallery__item gallery__item--4">
        <a href="https://corgiorgy.com/">
        <img src="images/corgi.jpg" class="gallery__img" alt="Image 4">
        <div class="bottom-left">Not mine but so woof</div>
        </a>
      </figure>
    </div>

    <div class="links-container">
      <!-- <img src="images/logo.jpg" width="200" height="200" class="circle"> -->

      <div>
        <h1 id="left-dev">developer</h1>
        <a id="center-dev" href="https://github.com/radulov">
          <img src="images/github.png" width="32" height="32">
        </a>
      </div>
      <div>
        <h1 id="left-a">author</h1>
        <a id="center-a" href="https://nsgolova.medium.com">
          <img src="images/medium.png" width="32" height="36">
        </a>
      </div>
      <div>
        <h1 id="left-gamer">gamer</h1>
        <a id="center-gamer" href="http://steamcommunity.com/id/nsgolova/">
          <img src="images/steam.png" width="32" height="32">
        </a>
      </div>
      <div>
        <h1 id="left-gamer">friend</h1><a id="center-gamer" href="https://t.me/nsgolova">
          <img src="images/telegram.png" width="32" height="32">
        </a>
      </div>
    </div>

  </body>
</html>
