body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.title {
  margin: 0;
  position: absolute;
  top: 140px;
  left: 240px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
}

.links-container {
  margin: 0;
  position: absolute;
  top: 420px;
  left: 200px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.circle {
  border-radius: 50%;
}

.bottom-left {
  position: relative;
  bottom: 40px;
  left: 30px;
  color: white;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(0,0,0,0.6);
}

.gallery {
    margin-left: 300px;
    margin-top: 40px;
    margin-right: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 5vw);
    grid-gap: 15px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.gallery__item--4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
}

.gallery__item--6 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}

#container {height: 100%; width:100%; font-size: 0;}
#left-dev, #middle-dev, #right-dev {display: inline-block; *display: inline; font-size: 28px;}
#left-dev {width: 78%;color: #149C92;}
#middle-dev {width: 18%;top: 90%;}
#right-dev {width: 0%;color: #149C92;}

#left-a, #middle-a, #right-a {display: inline-block; *display: inline; font-size: 28px;}
#left-a {width: 56%;color: #149C92;}
#middle-a {width: 28%;vertical-align: center;}
#right-a {width: 10%;color: #149C92;}

#left-gamer, #middle-gamer, #right-gamer {display: inline-block; *display: inline; font-size: 28px;}
#left-gamer {width: 56%;color: #149C92;}
#middle-gamer {width: 28%;vertical-align: center;}
#right-gamer {width: 10%;color: #149C92;}

#viewer-div {
  margin: 0;
  height: 200px;
  width: 100%;
}
